<!DOCTYPE html>
<html lang="">
<head>
<title>DoubleKj</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<%- include('./inc/plugin')%>
</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  


</script>


<!-- 최상위 흰색 라인 -->
<body id="top">
<%- include('./inc/header')%>
 
 
 
<div class="wrapper bgded overlay" style="background-image:url('/images/demo/backgrounds/5.jpg');">
  <div id="pageintro" class="hoc clear"> 
     
    <article>
      <h3 class="heading">DOUBLEKJ</h3>
      <p>DoubleKj에 오신것을 환영합니다. 다양한 게임을 즐겁게 즐기시길 바랍니다.</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="/doublekj/loginform">Login</a></li>
          <li><a class="btn inverse" href="/doublekj/joinform">Join</a></li>
          <li><a class="btn" href="/doublekj/logout">Logout</a></li>
        </ul>
      </footer>
    </article>
     
  </div>
</div>
 
 
 
<div class="wrapper row2">
  <section id="introblocks" class="hoc container clear"> 
     
    <ul class="nospace group">
      <li class="one_third first">
        <article><a href="/doublekj/game"><i class="fas fa-hand-peace"></i></a>
          <h6 class="heading underline">첫번째게임</h6>
          <p>◀게임 방법 ▶ <br>Space Bar : 동전 획득 <br> 1,2,3,4,5 : 히어로 소환<br>HERO1 : 10 Coin<br>HERO2 : 20 Coin<br>HERO3 : 30 Coin<br>HERO4 : 40 Coin<br>HERO5 : 50 Coin</p>
        </article>
      </li>
      <li class="one_third">
        <article class="active"><a href="#"><i class="fas fa-moon"></i></a>
          <h6 class="heading underline">Comming soon</h6>
          <p>게임 준비중...</p>
        </article>
      </li>
      <li class="one_third">
        <article class="active"><a href="#"><i class="fas fa-moon"></i></a>
          <h6 class="heading underline">Comming soon</h6>
          <p>게임 준비중...</p>
        </article>
      </li>
      
    </ul>
     
  </section>
</div>
 
 
 
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
     
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">community</h6>
    </div>
    <ul class="nospace group overview btmspace-80">


      
      <% for(var i=0;i<result.length;i++){ %> 
        <% if(i>=6)break; %> 
        <li class="one_third">
          <article>            
            <div class="clear"><a href="/community/detail?community_id=<%= result[i].community_id %>" ><i class="fas fa-paper-plane"></i></a>
              <h6 class="heading"><%= result[i].title %> </h6>
            </div>
            <p><%= (result[i].content).replace(/(<([^>]+)>)/gi, "")%></p>
          </article>
        </li>
        <% } %> 
       
    </ul>
    <footer class="center"><a class="btn" href="#">게시판 바로가기</a></footer>
     
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
 
 
 

 
 
 
<div class="wrapper bgded overlay" style="background-image:url('/images/demo/backgrounds/13.jpg');">
  <section class="hoc container clear"> 
     
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">고객센터</h6>
    </div>
    <ul id="testimonials" class="nospace group btmspace-80">



      
        
        <li class="one_half first">
          <blockquote><%= (result_1[0].content).replace(/(<([^>]+)>)/gi, "")%></blockquote>
          <figure class="clear"><img class="circle" src="/images/demo/60x60.png" alt="">
            <figcaption>
              <h6 class="heading"><%= result_1[0].customer_id %></h6>
              <em><%= result_1[0].regdate %></em></figcaption>
          </figure>
        </li>
        
        <% if(result_1.length>=1){ %> 

          <li class="one_half">
            <blockquote><%= (result_1[1].content).replace(/(<([^>]+)>)/gi, "")%></blockquote>
            <figure class="clear"><img class="circle" src="/images/demo/60x60.png" alt="">
              <figcaption>
                <h6 class="heading"><%= result_1[1].customer_id %></h6>
                <em><%= result_1[1].regdate %></em></figcaption>
            </figure>
          </li>

        <% } %> 
        
        
        



      



    </ul>
    <footer class="center"><a class="btn" href="#">고객센터 바로가기</a></footer>
     
  </section>
</div>
 
 
 
 
 
<%- include('./inc/footer')%>

</body>
</html>