<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- favicon -->
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<%- include('../inc/plugin')%>
<title>Registration</title>
<style>
    #community_list body {font-family: Arial, Helvetica, sans-serif;}
    #community_list * {box-sizing: border-box;}
    #community_list h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    #community_list input[type=text], #community_list input[type=file],textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    #community_list textarea{
        height: 100px;
    }
    #preview{
        width: 300px; /* 너비만 줘도 이미지 비율을 알아서 잡음 */
    }
    #community_list input[type=button], #community_list input[type=button] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
    }
    
    #community_list input[type=button], input[type=button]:hover {
        background-color: #45a049;
    }
    
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    .comment-list div{
        display: inline-block; /* block속성 유지하되 수평으로 공존가능 */
        border: 1px solid lightgrey;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script src="/js/comments.js"></script>
<script>
    // on load시 버튼, 이미지, 편집기 셋팅
    $(function(){ 
        getCommnetsList();
        // 편집기 입히기
        CKEDITOR.replace('content');

        $($("input[type='button']")[0]).click(function(){
            writeUpload();
        });

        $($("input[type='button']")[1]).click(function(){
            list();
        });
        $($("input[type='button']")[2]).click(function(){
            edit();
        });
        $($("input[type='button']")[3]).click(function(){
            delet();
        });

        $("input[type='file']").on("change",function(){ // 이미지 선택 시 미리보기
            // 지정된 옵션으로 문자열의 일부 추출
            var filename= $(this).val().substring($(this).val().lastIndexOf("\\")+1,$(this).val().length);
            $("#preview").attr("src","http://localhost:7777/img/"+filename);

        });

    });

    // 글 등록
    function writeUpload(){ 
        // 전송준비
        $("#tool").attr("action","/community/write");
        $("#tool").attr("method","post");
        // text아닌 바이너리 형식
        $("#tool").attr("enctype","multipart/form-data"); 
        // 전송
        $("#tool").submit(); 
    }
    // 목록
    function list(){ 
        location.href="/community/list";
    }
    // 수정
    function edit(){ 
        if("해당 게시글을 수정하시겠습니까?"){
            // 전송준비
            $("#tool").attr("action","/community/edit");
            $("#tool").attr("method","post");
            // text아닌 바이너리 형식
            $("#tool").attr("enctype","multipart/form-data"); 
            // 전송
            $("#tool").submit(); 
        }
    }
    // 삭제
    function delet(){ 
        if(confirm("해당 게시글을 삭제 하시겠습니까?")){
            // 전송준비
            $("#tool").attr("action","/community/delete");
            $("#tool").attr("method","post");
            // text아닌 바이너리 형식
            $("#tool").attr("enctype","multipart/form-data"); 
            // 전송
            $("#tool").submit(); 
        }
    }

    // 댓글 등록
    function addComment(){
        var xhttp= new XMLHttpRequest();
        xhttp.onreadystatechange= function(){
            if(this.readyState== 4 && this.status== 200){
                var json= JSON.parse(this.responseText);
                if(json.result==0){
                    alert("댓글 등록 실패.");
                }else{
                    alert("댓글 등록 완료.");
                    getCommnetsList();
                }
            }
        }
        xhttp.open("POST", "/comments/regi", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var msg= $("#msg").val();
        var author=$("#author").val();
        xhttp.send("community_id=<%=community.community_id%>&msg="+msg+"&author="+author);
    }
    // 댓글 가져오기
    function getCommnetsList(){
        var xhttp= new XMLHttpRequest();
        xhttp.onreadystatechange=function(){
            if(this.readyState==4 && this.status==200){
                json= JSON.parse(this.responseText);
                printCommentsList(json);
            }
        }
        xhttp.open("GET","/comments/list?community_id=<%=community.community_id%>",true);
        xhttp.send();
    }
    // 댓글 출력
    function printCommentsList(json){
        $("#comments_wrapper").html(""); // innerHTML="" 과 동일
        for(var i=0; i<json.length; i++){
            var msg=json[i].msg; // 메세지
            var author=json[i].author; // 작성자
            var regi_date=json[i].regi_date.substring(0,10); // 등록일
            var c= new Comments(document.getElementById("comments_wrapper"),msg, author, regi_date);
            
        }
    }
</script>
</head>
<body>
    <%- include('../inc/header')%>
    <div id="community_list">
        <h3>Community</h3>
        
        <div class="container">
            <form id="tool">
                <!-- 수정 삭제 시 사용 할 community_id priamary key를 hidden -->
                <input type="hidden" name="community_id" value="<%=community.community_id%>">
                <input type="hidden" name="filename" value="<%=community.filename%>">
                <!-- Normal -->
                <input type="text" name="title" value="<%=community.title%>">
                <input type="text" name="writer" value="<%=community.writer%>">
                <textarea name="content"><%=community.content%></textarea>
                <input type="file" name="pic">
                <img src="/upload/<%=community.filename%>" alt="" id="preview"> 
                <p></p>
                <!-- input type="submit"은 디폴트로 전송 기능이 포함. 클릭만으로도 전송발생
                무조건 전송되므로 일반 버튼화 시키기.-->
                <input type="button" value="등록">
                <input type="button" value="목록">
                <input type="button" value="수정">
                <input type="button" value="삭제">
            </form>
        </div>

        <!-- 댓글 등록 및 목록 -->
        <form class="comment-form">
            <!-- 어떤 뉴스 기사의 댓글인지  -->
            <input type="hidden" name="post_id" value="<%=community.community_id%>">
            
            <input type="text" name="msg" id="msg" placeholder="댓글 내용" style="width: 65%;">
            <input type="text" name="author" id="author" placeholder="작성자" style="width: 20%;">
            <input type="button" onclick="addComment()" value="댓글 등록" style="width: 10%;">
        </form>
        <div id="comments_wrapper">
            <%for(var i=0; i<commentsList.length; i++){%>
                <% var comments= commentsList[i]%>
            <div class="comment-list">
                <div style="width: 65%;"><%=comments.msg%></div>
                <div style="width: 20%;"><%=comments.author%></div>
                <%
                var d= new Date(comments.regi_date);
                var yy= d.getFullYear();
                var mm=lib.getZeroString(d.getMonth()+1);
                var dd=lib.getZeroString(d.getDate());
                %>
                <div style="width: 10%;"><%=yy%>-<%=mm%>-<%=dd%></div>
            </div>
            <%}%>
        </div>

    </div>
    <%- include('../inc/footer')%>
</body>
</html>