<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- favicon -->
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<title>Registration</title>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    input[type=text], input[type=file],textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    textarea{
        height: 100px;
    }
    #preview{
        width: 300px; /* 너비만 줘도 이미지 비율을 알아서 잡음 */
    }
    input[type=submit], input[type=button] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit], input[type=button]:hover {
        background-color: #45a049;
    }
    
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    // on load시 버튼, 이미지, 편집기 셋팅
    $(function(){ 
        // 편집기 입히기
        CKEDITOR.replace('content');

        $($("input[type='button']")[0]).click(function(){
            writeUpload();
        });

        $($("input[type='button']")[1]).click(function(){
            list();
        });
        $($("input[type='button']")[2]).click(function(){
            edit();
        });
        $($("input[type='button']")[3]).click(function(){
            delet();
        });

        $("input[type='file']").on("change",function(){ // 이미지 선택 시 미리보기
            // 지정된 옵션으로 문자열의 일부 추출
            var filename= $(this).val().substring($(this).val().lastIndexOf("\\")+1,$(this).val().length);
            $("#preview").attr("src","http://localhost:7777/img/"+filename);

        });

    });

    // 글 등록
    function writeUpload(){ 
        // 전송준비
        $("form").attr("action","/community/write");
        $("form").attr("method","post");
        // text아닌 바이너리 형식
        $("form").attr("enctype","multipart/form-data"); 
        // 전송
        $("form").submit(); 
    }
    // 목록
    function list(){ 
        location.href="/community/list";
    }
    // 수정
    function edit(){ 
        if("해당 게시글을 수정하시겠습니까?"){
            // 전송준비
            $("form").attr("action","/community/edit");
            $("form").attr("method","post");
            // text아닌 바이너리 형식
            $("form").attr("enctype","multipart/form-data"); 
            // 전송
            $("form").submit(); 
        }
    }
    // 삭제
    function delet(){ 
        if(confirm("해당 게시글을 삭제 하시겠습니까?")){
            // 전송준비
            $("form").attr("action","/community/delete");
            $("form").attr("method","post");
            // text아닌 바이너리 형식
            $("form").attr("enctype","multipart/form-data"); 
            // 전송
            $("form").submit(); 
        }
    }
</script>
</head>
<body>

    <h3>게시판</h3>
    
    <div class="container">
        <form>
            <!-- 수정 삭제 시 사용 할 community_id priamary key를 hidden -->
            <input type="hidden" name="community_id" value="<%=community.community_id%>">
            <input type="hidden" name="filename" value="<%=community.filename%>">
            <!-- Normal -->
            <input type="text" name="title" value="<%=community.title%>">
            <input type="text" name="writer" value="<%=community.writer%>">
            <textarea name="content"><%=community.content%></textarea>
            <input type="file" name="pic">
            <img src="/upload/<%=community.filename%>" alt="" id="preview" width="300px"> 
            <p></p>
            <!-- input type="submit"은 디폴트로 전송 기능이 포함. 클릭만으로도 전송발생
            무조건 전송되므로 일반 버튼화 시키기.-->
            <input type="button" value="등록">
            <input type="button" value="목록">
            <input type="button" value="수정">
            <input type="button" value="삭제">
        </form>
    </div>
</body>
</html>