<%  
  // 총 레코드 수
  var totalRecord=param.communityList.length;
  // 페이지당 보여질 레코드 수
  var pageSize=10;
  // 총 페이지 수
  var totalPage=Math.ceil(totalRecord/pageSize);
  // 페이지 번호 묶음
  var blockSize=10;
  // 현재 페이지
  var currentPage=param.currentPage;
  // 페이지당 배열의 시작 인덱스
  var curPos=(currentPage-1)*pageSize;
  // 페이지당 시작번호
  var num= totalRecord-(currentPage-1)*pageSize;
  // 블럭당 포문의 시작과 마지막 페이지
  var firstPage=currentPage-(currentPage-1)%blockSize;
  var lastPage=firstPage+(blockSize-1);
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('../inc/plugin')%>
<style>
#community_list table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
#community_list h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#community_list th, #community_list td {
  text-align: left;
  padding: 16px;
}

#community_list tr:nth-child(even) {
  background-color: #f2f2f2;
}
#pic{
  width: 45px;
}
.pageNum{
  font-size: 15px;
  font-weight: bold;
  color:black;
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function searchList(){
    $.ajax({
      url:"/community/search?search="+$("input[name='search']").val(),
      type:"GET",
      success:function(result, status, xhr){
        // console.log(param);
        // var json=JSON.parse(result)
        // console.log(json[0]);
        printData(result);
      },
      error:function(xhr,status,error){
      }
    });
  }
  function printData(data){
    var json = JSON.parse(data); //string --> json 으로 변환 
    var jsonArray=json.length;
    console.log(jsonArray);
    console.log(json);

    var tag="<table border='1px' width='100%'>";
    tag+="<tr>";
    tag+="<td>No</td>";
    tag+="<td>이미지</td>";
    tag+="<td>제목</td>";
    tag+="<td>작성자</td>";
    tag+="<td>등록일</td>";
    tag+="<td>조회수</td>";
    tag+="</tr>";

    for(var i=0;i<jsonArray;i++){
      var search = json[i]; 
      tag+="<tr>";
      tag+="<td>"+search.community_id+"</td>";
      // tag+="<td>"+search.filename+"</td>";
      tag+="<td><img src='/upload/"+search.filename+"' id='pic' alt=''></td>";
      tag+="<td>"+search.title+"</td>";
      tag+="<td>"+search.writer+"</td>";
      tag+="<td>"+search.regdate+"</td>";
      tag+="<td>"+search.hit+"</td>";
      tag+="</tr>";         
      console.log("Test");           
    }
    tag+="</table>";
    
    $("#contentTable").html();//기존 내용지우고, 
    $("#contentTable").html(tag);
  }

</script>
<body>
<%- include('../inc/header')%>
<div id="community_list">


  <h2>Community</h2>
  <table id="contentTable">
    <tr>
      <th>No</th>
      <th>이미지</th>
      <th>제목</th>
      <th>작성자</th>
      <th>등록일</th>
      <th>조회수</th>
    </tr>
    <div style="height:50px;">
      <input type="text" name="search" placeholder="검색어 입력...">
      <button onclick="searchList()">검색</button>
    </div>
    <%for(var i=1; i<=pageSize; i++){%>
      <%if(num<1) break;%>
    
      <%var community=param.communityList[curPos++];// 배열에서 json 하나 꺼내기%> 
      <tr>
        <!-- No -->
        <td><%=(num--)%></td>
        <!-- Image -->
        <td><img src="/upload/<%=community.filename%>" id="pic" alt=""></td>
        <!-- Title -->
        <td>
          <a href="/community/detail?community_id=<%=community.community_id%>"><%=community.title%></a>
        </td>
        <!-- Writer -->
        <td><%=community.writer%></td>
        <!-- Regdate -->
        <%var d= new Date(community.regdate);%>
        <td>
          <%=d.getFullYear()%>-<%=param.lib.getZeroString(d.getMonth()+1)%>-<%=param.lib.getZeroString(d.getDate())%>
        </td>
        <!-- Page view -->
        <td><%=community.hit%></td>
        
      </tr>
    <%}%>
    <tr>
      <td colspan="6">
        <%if(firstPage-1<1){ // lastPage+1의 결과가 총페이지를 넘겨 서면 얼럿%>
          <a href="javascript:alert('이전 페이지가 없습니다.')">◀</a>
          <%}else{%>
          <a href="/community/list?currentPage=<%=firstPage-1%>">◀</a>
        <%}%>
        <%for(var i=firstPage; i<=lastPage;i++){%>
          <%if(i>totalPage)break;// 총 페이지 수를 넘기며 반복문 멈추기%> 
          <a href="/community/list?currentPage=<%=i%>" <%if(currentPage==i){%> class="pageNum" <%}%>>[<%=i%>]</a>
        <%}%>

        <%if((lastPage+1)>totalPage){ // lastPage+1의 결과가 총페이지를 넘겨 서면 얼럿%>
        <a href="javascript:alert('마지막 페이지입니다.')">▶</a>
        <%}else{%>
        <a href="/community/list?currentPage=<%=lastPage+1%>">▶</a>
        <%}%>
        <button onClick="location.href='/community/community.html'">글등록</button>
      </td>
    </tr>
  </table>
</div>
<%- include('../inc/footer')%>
</body>
</html>